/* pouzitelne az v sass
$colorNavbar:rgb(115,170,217);
$colorBlueText:rgb(0,153,255);
$colorArrow:rgb(92,128,192);
$colorBackground:rgb(245,245,245);
$colorGreenAddButton:rgb(172,203,18);
*/

.v-touchkit-navbar {
    background-color: rgb(115,170,217) !important;
    color: white !important;
}

.v-touchkit-navbar-left .v-button {    
    font-size: 30px !important;
    color: white !important;
}

.v-touchkit-navbar-left .v-touchkit-navbutton {
    color: white !important;
}

.dashboardLabel {
    color: rgb(0,153,255) !important;
    font-size: 20px !important;
}

.datelabel {
    color: white !important;
    background-color: rgb(0,153,255) !important;
    text-align: center !important;
    padding: 10px !important;
    border-radius: 5px;
}

.informationlabel {
    background-color: rgb(230,230,230) !important;
    padding: 5px !important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.float-button {
    color: white !important;
    background-color: rgb(172,203,18) !important;
    z-index: 10; /*ktery element bude na popredi (vyssi index = lepsi viditelnost)*/
    border-radius: 20%  !important;
    position: fixed !important;
    right:    25px !important;
    bottom:   25px !important;
}

.rightArrowIconLabel {
    vertical-align: central !important;
    font-size: 24px !important;
    color: rgb(92,128,192) !important;
    background-color: rgb(230,230,230) !important;
    margin-left: -6px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.v-select:after {
    font-size: 25px !important;
    background-color: gainsboro;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*
.buttonToolBarLayout {
    outline: solid gainsboro;
    outline-offset: 8px;
    margin: 8px 0 !important;
}

.buttonToolBarLayout .v-button {
    font-size: 16px !important;
}*/